{% extends 'base.html' %}
{% block content %}
В рамках второй фазы проекта "Безопасный город" в Бишкеке установили еще 11 аппаратно-программных комплексов
(АПК), сообщили Sputnik Кыргызстан в концерне "Вега". На первом этапе было установлено 12 камер фото- и
видеофиксации. На нашей карте вы сможете увидеть, где расположены все 23 радара. Новые обозначены синим цветом,старые — красным. АПК установлены на следующих перекрестках:

<ul>
    <li>проспект Жибек Жолу — улица Абдрахманова;</li>
    <li>Жибек Жолу — улица Курманджан Датки;</li>
    <li>проспекты Жибек Жолу — Молодой Гвардии;</li>
    <li>Жибек Жолу — улица Фучика;</li>
    <li>проспекты Жибек Жолу — Манаса;</li>
    <li>проспект Чуй — улица Абдрахманова;</li>
    <li>Чуй — улица Бейшеналиевой (район Ошского рынка);</li>
    <li>Чуй — улица Курманджан Датки;</li>
    <li>проспекты Чуй — Молодой Гвардии;</li>
    <li>Чуй — улица Павлова;</li>
    <li>Чуй — улица Фучика;</li>
    <li>проспекты Чуй — Манаса;</li>
    <li>путепровод на проспекте Манаса;</li>
    <li>путепровод на улице 7 Апреля;</li>
    <li>путепровод на улице Байтик Баатыра;</li>
    <li>путепровод на улице Ибраимова;</li>
    <li>улица Боконбаева — проспект Манаса;</li>
    <li>улицы Ахунбаева — Байтик Баатыра;</li>
    <li>улицы Байтик Баатыра — Горького;</li>
    <li>улицы Боконбаева — Абдрахманова;</li>
    <li>улицы Горького — 7 Апреля;</li>
    <li>улицы Махатмы Ганди — Боталиева;</li>
    <li>улицы Московская — Абдрахманова.</li>
</ul>
<img src="unnamed.jpg">
    {% endblock%}